build/
out/
cmake-build-*/
.vs/

*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.manifest
*.log

*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.tmp
*.cache
*.swp
*~

Thumbs.db
.DS_Store